<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firmanmfk.setorantunai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="firmanmfk.setorantunai.ui.tranksaksi.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="firmanmfk.setorantunai.ui.tranksaksi.HomeActivity"></activity>
        <activity android:name="firmanmfk.setorantunai.ui.login.LoginActivity"></activity>
        <activity android:name="firmanmfk.setorantunai.ui.detailtranksaksi.DetailTranksaksiActivity"></activity>
        <activity android:name="firmanmfk.setorantunai.ui.addtranksaksi.AddTranksaksiActivity"></activity>
        <activity android:name="firmanmfk.setorantunai.ui.tranksaksi.TranksaksiActivity"></activity>
    </application>

</manifest>